<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qrhunter" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRHunter" >
        <activity
            android:name=".scannerView"
            android:exported="false" />
        <activity
            android:name=".LoginScanner"
            android:exported="false" />
        <activity
            android:name=".SearchInfo"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".ViewQRCode"
            android:exported="false" />
        <!--
                TODO: Before you run your application, you need a Google Maps API key.

                To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

                Once you have your API key (it starts with "AIza"), define a new property in your
                project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
                "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
                -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqbnuXnzj-mwRRJy6N2nuk5o1sqCUYlmI" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <activity android:name=".PlayerMenuActivity" />
        <activity android:name=".PlayerRankingActivity" />
        <activity android:name=".OwnerMenuActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".PersonalRank" />
        <activity android:name=".ScanQRcodeActivity" />
        <activity android:name=".QrInfo" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>